.card {
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 255);
  min-height: 50px;
  margin: 1% 0;
  border-radius: 15px;
  padding: 1% 2%;
}

.name {
  font-size: 18px;
  color: rgb(87, 87, 87);
}