.search-box {
  display: flex;
  height: 70px; 
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 50px;  
}

.search-txt {
  width: 1000px;  
  height: 50px; 
  margin: auto;
  padding: 10px;
  padding-left: 43%; 
  border-radius: 40px;
  background: #92bffd;
}

.parent-pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-card {
  background-color: purple;
  margin-bottom: 10px;
  height: 50px;
  width: 30%;
  border-radius: 40px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  color:white;
}

.pokemon-card:hover {
  background-color: red;
  color: #9cff8f;;
}

